* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
}